

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* header */
.header-hero{
    background-image:url('../assets/Hero-bg.png');
    width: 1950px;
    height: 500px;
    display: flex;
    align-items: center;
    
    
    
}
/* header */
.header-nav{
    background: rgba(30, 30, 30, .05);
}


/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    font-weight: 800;
    font-size: 28;
    border: 50px 1170px 5157px 150px;
}

.btn-primary{
    color: 0D1321;
    background-color: white;
    font-weight: bold;
    padding: 17px 24px 17px 24px;
    border-radius: 8px;
    border: 38px 166px 5149px 1046px;
}

/* banner styles */
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 998px;
   
}
/* hero-div */
.hero-div{
    width: 60%;
    margin: 0 auto;
   
}
/* banner-content */
.banner-content{
    text-align: center;
}

.banner-profile-pic{
    width: 240.28px;
    height: 240px;
   
}

/* div-two */
.div-two{
    background-color: brown;   
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* div-two-text */
.div-two-text{
    width: 50%;
}

/* div-two-image */
.div-two-image{
    width: 50%;
}

/* why-web-development-class */
.why-web-development-class{
    background-color: aqua;
    padding: 80px 97px 80px 97px;
    width: 60%;
    margin: 0 auto;
}


/* inspiration */
.inspiration{
    text-align: center;
}

/* current-target */
.current-target{
    text-align: center;
}


