.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* header */
.header-hero{
    background-image:url('../assets/Hero-bg.png');
    width: 1950px;
    height: 500px;
    display: flex;
    align-items: center;
    
    
    
}
/* header */
.header-nav{
    background: rgba(30, 30, 30, .05);
}


/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    font-weight: 800;
    font-size: 28;
    border: 50px 1170px 5157px 150px;
}

.btn-primary{
    color: white;
    background-color: black;
    font-weight: bold;
    padding: 17px 24px 17px 24px;
    border-radius: 8px;
    border: 38px 166px 5149px 1046px;
    
}

/* banner styles */
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 998px;
   
}
/* hero-div */
.hero-div{
    width: 60%;
    margin: 0 auto; 
}

/* banner-content */
.banner-content{
    text-align: center;

}

.banner-profile-pic{
    width: 240.28px;
    height: 240px;
   
}
/* head-banner */
.head-banner{
    border: 100px 150px solid #F4F4F4;
    padding: 100px 150px;
    
}

/* banner-text-container */
.banner-text-container{
    text-align: center;
    height: 100px;
    display: block;   
    border: 100px 250px; 
    padding: 100px 150px 100px 150px;
}

/* banner */
.banner-coding{
    display: flex;
    justify-content: space-between;
    border: 100px 250px;
    padding: 100px 150px;
}
/* btn-coding */
.btn-coding{
    height: 50px;
    width: 150;
    padding: 12px 20px 12px 20px;
    margin-top: 25px;
}
/* banner-coding */
.banner-coding{
    display: flex;
    justify-content: space-between
    border: 100px 150px;
    padding: 100px 150px;
}
/* banner-people */
.banner-people{
   
}
/* banner-coding */
.banner-coding{
    display: flex;
    justify-content: space-between;
    border: 100px 150px;
    padding: 100px 150px;
    
}

/* btn-coding */
.btn-coding{
    height: 50px;
    width: 150;
    padding: 12px 20px 12px 20px;
    margin-top: 25px;
}

/* banner-inspire */
.banner-inspire{
    text-align: center;
}

/* banner-ins-video */
.banner-ins-video{
    width: 100%;
    height: auto;
    border: 1px solid black;
    padding: 32px;
    border-radius: 16px;
    align-items: center; 
    display: flex;  
    text-align: center; 
}
/* Inspiration-div */
.Inspiration-div{
    width: 70%;
    margin: 0 auto;
}

/* banner-current-target */
.banner-current-target{
    margin-top: 300px;
    text-align: center;
}

/* banner-html-css-js */
.banner-html-css-js{
    width: 75%;
    margin-top: 50px;
    display: flex;
    margin-left: 350px;
    margin-bottom: 200px;
    
}

/* banner-html */
.banner-html{
    width: 30%;
    height: 250px;
    margin-right: 30px;
    padding: 40px 40px;
    background-color: #FFF6F4;
    border-radius: 16px;
    
}

a{
    font-family: "Open Sans", sans-serif;
    color: ;
}

/* banner-css */
.banner-css{
    width: 30%;
    margin-right: 30px;
    height: 250px;
    padding: 40px 40px;
    background-color: #F2F6FE;
    border-radius: 16px;
}
/* banner-js */
.banner-js{
    width: 30%;
    height: 250px;
    margin-right: 150px;
    padding: 40px 40px;
    background-color: #FFFDF2;
    border-radius: 16px;
}

/* banner-next-target */
.banner-next-target{
    text-align: center;
    margin-bottom: 100px;
}

/* banner-img-target */
.banner-img-target{
    width: 65%;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 330px;
    border: 1px dotted;
    display: flex;
    border-radius: 16px;
    
}

/* target-image */
.target-image{
    margin-left: 50px;
    margin-top: 80px;
}

/* banner-reacts */
.banner-reacts{
    margin-left: 90px;
    margin-top: 40px;
    margin-bottom: 50px;

}
/* banner-image-nodejs */
.banner-image-nodejs{
    width: 65%;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 330px;
    border: 1px dotted;
    display: flex;
    border-radius: 16px;
}
/* banner-nodejs */
.banner-nodejs{
    margin-top: 40px;
    margin-left: 90px;
    margin-bottom: 50px;   
}
/* nodejs-image */
.nodejs-image{
    margin-left: 50px;
    margin-top: 80px;
}
/* banner-image-mongo */
.banner-image-mongo{
    width: 65%;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 330px;
    border: 1px dotted;
    display: flex;
    border-radius: 16px;
}
/* banner-mongo */
.banner-mongo{
    margin-top: 40px;
    margin-left: 90px;
    margin-bottom: 50px;
}
/* image-mongo */
.image-mongo{
    margin-left: 50px;
    margin-top: 80px;
}

/* support */
.support{
    max-width: 1140px;
    max-height: 313;
    margin: 0 auto;
    padding: 64px 48px 64px 48px;
    border-radius: 16px;
    background-color: rgba(0,0,0,0,);
    background-blend-mode: overlay;
    background-image: url('../assets/handshake.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* support-text */
.support-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
    margin-bottom: 14px;
}
/* support-title */
.support-title{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
}
/* support-description */
.support-description{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400px;
    opacity: 0.7;
}
/* form */
.form{
    margin: 0 auto;
    margin-top: 30px;
}
/* fieldset */
.fieldset{
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* justify-content: space-between; */
    align-items: center;
    width: 850px;
    border: none;
}
/* input-text */
.input-text{
    width: 700px;
    height: 57px;
    padding: 19px 20px 19px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    color: rgba(13, 19, 33, 4);
    font-size: 16px;
    font-weight: 400;
}
/* btn-submit */
.btn-submit{
    min-width: 140px;
    height: 57px;
    color: rgba(13, 19, 33, );
    font-size: 20px;
    font-weight: 600;
    padding: 17px 20px 17px 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}
/* footer-content */
.footer-content{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #F7F8F8;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 20px;
}
/* footer-text */
.footer-text{
    margin-left: 310px;
}
/* footer-image */
.footer-image{
    margin-right: 310px;
}










